/* Section Styling */
.demo {
  font-size: 1rem;
  letter-spacing: 0.01em;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 3rem;
}

button {
  font-size: inherit;
  font-family: inherit;
  text-transform: inherit;
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
    background-color: #f5f5f5;
}

.error {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.transitionTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transitionTable th,
.transitionTable td {
  border: 1px solid #000; /* Outline for the table */
  padding: 8px;
  text-align: center;
}

.transitionTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.transitionTable td {
  background-color: #fff;
}

.transitionTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transitionTable tr:hover {
  background-color: #f1f1f1;
}
