#root {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  width: fit-content;
  margin: 0;
  padding: 0 0 0 1rem;
  text-decoration: 1.5px underline #000000;
  text-underline-offset: 1rem;
}

h3 {
  width: fit-content;
  margin: 0;
  padding: 0 0 0 1.25rem;
}

p {
  width: 100%;
  margin: 0;
  padding: 0 0 0 1.5rem;
  text-align: left;
  text-transform: none;
}

section {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
  margin-bottom: 25rem;
}
